@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bievenido al sistema de AMEDIA ABM</h1>
</div>
<div class="container text-center">
    <img src="http://amedia.com.ar/img/share-img.jpg" class="img-rounded" alt="Cinque Terre">
</div>
