@{
    ViewData["Title"] = "User Index Page";
}

<div class="text-center">
    <h1 class="display-4">Bievenido a AMEDIA ABM</h1>
    <div class="container">
        <p>
            Eres un usuario el cual no posee permisos por ende solo podras ver esta ventana, recuerda que puedes
            cambiar tu plan para poder acceder a las opciones de administrador comunicandote con nosotros.
        </p>
    </div>
</div>
